:root{
    --body-background-color: #1A2A4B;
    --header-background-color: #294163;
    --article-background-color: #3B5B85;
    --main-container-border-color: #0a1b31;
    --status-online-border-left-color: #6be46f; 
    --status-offline-border-left-color: #F44336; 
    --mini-graph-background-color: white;
    --hover-background-color: rgba(255, 255, 255, 0.1);
    --a-color: #5577A2;
    --p-color: white;
}